alabaster==0.7.4
amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
astroid==1.4.5
awsebcli==3.6.2
Babel==1.3
babelfish==0.5.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.23
blessed==1.9.5
boto==2.38.0
botocore==1.3.15
caniusepython3==3.3.0
celery==3.1.23
cement==2.4.0
cffi==1.6.0
characteristic==14.3.0
chardet==2.3.0
click==6.6
colorama==0.3.7
contextlib2==0.5.3
cryptography==1.3.2
cssselect==0.9.1
decorator==4.0.9
diff-match-patch==20121119
distlib==0.2.1
Django==1.9.6
django-celery==3.1.17
django-cors-headers==1.1.0
django-debug-toolbar==1.3.0
-e git+https://github.com/maherpk/django-devserver-redux.git@a55bdb9e7fe3a4d17eaf1af3bc9799ac6503022b#egg=django_devserver_redux
django-extensions==1.6.6
django-grappelli==2.6.5
django-haystack==2.4.1
django-import-export==0.4.2
django-ipware==1.1.5
django-model-utils==2.2
django-money==0.8
-e git+https://github.com/djangonauts/django-pgjson.git@cf0e508e41804740f0980c6f4a23b2683c81f187#egg=django_pgjson
django-photologue==3.5.1
django-registration-redux==1.1
django-sortedm2m==1.1.1
django-storages-redux==1.3.2
django-taggit==0.14.0
django-widget-tweaks==1.4.1
djangorestframework==3.3.3
djrill==2.1.0
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
drf-extensions==0.2.8
ecdsa==0.13
enum34==1.1.4
ExifRead==2.1.2
Fabric==1.11.1
factory-boy==2.6.0
fake-factory==0.5.3
first==2.0.1
futures==3.0.3
geoip2==2.3.0
gnureadline==6.3.3
googlemaps==2.4.3
guessit==1.0.2
guppy==0.1.10
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
idna==2.1
ipaddr==2.1.11
ipaddress==1.0.16
ipython==4.2.0
ipython-genutils==0.1.0
Jinja2==2.8
jmespath==0.7.1
jsonfield==1.0.3
kombu==3.0.35
lazy-object-proxy==1.2.2
line-profiler==1.0
logilab-common==1.0.2
lxml==3.5.0
MarkupSafe==0.23
maxminddb==1.2.0
meld3==1.0.2
ndg-httpsclient==0.4.0
numpy==1.10.4
paramiko==1.17.0
path.py==8.1.2
pathlib2==2.1.0
pathspec==0.3.3
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
pip-tools==1.6.4
psycopg2==2.6.1
ptyprocess==0.5.1
py-moneyed==0.6.0
py2neo==2.0.8
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
Pygments==2.0.2
pylint==1.5.5
pyOpenSSL==16.0.0
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
queuelib==1.4.2
raven==5.15.0
reportlab==3.3.0
requests==2.10.0
Scrapy==1.0.3
scrapy-djangoitem==1.0.0
service-identity==14.0.0
shortuuid==0.4.3
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
sqlparse==0.1.15
stevedore==1.10.0
stripe==1.33.0
supervisor==3.2.2
tablib==0.11.2
texttable==0.8.4
traitlets==4.2.1
tvdb-api==1.10
Twisted==15.5.0
ua-parser==0.7.1
unicodecsv==0.14.1
user-agents==1.0.1
w3lib==1.13.0
wcwidth==0.1.5
websocket-client==0.32.0
Werkzeug==0.10.4
wrapt==1.10.8
yapf==0.7.1
zope.interface==4.1.3
